@(students: List[Student])

@main("Students catalogue") {  <h2>All students</h2>

   <table class="table table-striped">
    <thead>
      <tr>
        <th>Stt</th>
        <th>Name</th>
        <th>ngaysinh</th>		
		<th>email</th>		
		<th>quequan</th>		
      </tr>
    </thead>
    <tbody>
    @for(student <- students) {
		<tr>
			<td><a href="@routes.Students.details(student.stt)">
			@student.stt </a></td>
			<td><a href="@routes.Students.details(student.stt)">
			@student.name</a></td>
			<td><a href="@routes.Students.details(student.stt)">
			@student.ngaysinh</a></td>
			<td><a href="@routes.Students.details(student.stt)">
			@student.email</a></td>
			<td><a href="@routes.Students.details(student.stt)">
			@student.quequan</a></td>
			</tr>

      }

    </tbody>

   </table>

}
